:root {
  --branding-color: #6c63ff;
  --branding-color-hover: #564feb;
  --background-color-section: ##fffdfb;
  --box-shadow: 0 20px 60px rgba(65, 50, 100, 0.08);
  --heading-font: Arial, Helvetica, sans-serif;
  --default-font: Georgia, "Times New Roman", Times, serif;
  --footer-font: monospace;
}
.App {
  max-width: 600px;
  margin: 5% auto;
}
.App footer {
  font-size: 11px;
  text-align: center;
  font-family: var(--footer-font);
  opacity: 0.6;
  display: block;
}
.App a {
  text-decoration: none;
}
.App .logo {
  max-width: 200px;
  display: block;
  margin: 30px auto;
}
